<template>
  <div class="columns is-vcentered info-box">
    <div class="column is-one-quarter">
      <div class="box">
        <p class="content">
          While not all 10 ASEAN nations are involved in the territorial dispute, the grouping has sought to be united on the issue.

          The ASEAN Vision 2020, adopted by the ASEAN Leaders on the 30th Anniversary of ASEAN agreed on a shared vision of ASEAN as a concert of Southeast Asian nations, outward looking, living in peace, stability and prosperity, bonded together in partnership in dynamic development and in a community of caring societies.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Asean'
  }
</script>

<style lang="scss" scoped>
  .box {
    border: none;
    box-shadow: none;
    background-color: #ccc;
  }
</style>
