<template>
  <div class="columns is-vcentered has-text-centered info-box">
    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <img :src="require(`@/assets/images/food-for-thought.png`)" alt="Image of question"/>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FoodForThought'
  }
</script>

<style lang="scss" scoped>
  .box {
    padding: 0;
  }

  .info-box {
    height: 100vh;
  }
</style>
