<template>
  <div class="columns is-vcentered info-box">
    <div class="column is-one-quarter no-padding-right">
      <div class="box">
        <div class="content">
          <h5 class="title is-uppercase has-text-weight-bold">
            The South China Seas is known for the rich diversity of its marine resources.
          </h5>

          <p class="content">
            Marine resources are <span
            class="is-size-4 has-text-danger">important</span> sources of income for the surrounding countries.
            Some of these marine life are also considered endangered.
          </p>
        </div>
      </div>
    </div>

    <div class="column is-one-third no-padding-left">
      <div class="box has-text-centered has-background-blue">
        <img :src="require(`@/assets/images/marine-life.png`)" alt="Image of Marine Life"/>

        <div class="content">
          <h2 class="subtitle is-uppercase">Species of fish:</h2>

          <p class="content">
            Approximately
            <span class="has-text-weight-bold">3365</span>
            species of fish found in the SCS area, representing
            <span class="has-text-weight-bold">10%</span>
            of the world's fisheries
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MarineLife'
  }
</script>

<style lang="scss" scoped>
  .column {
    height: 55vh;
    display: flex;
  }

  .has-background-blue {
    background-color: #5485ac !important;

    * {
      color: #fff;
    }
  }
</style>
