<template>
  <div class="column is-one-quarter">
    <div class="box">
      <p class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias, consectetur cumque deserunt doloribus error esse fuga odit pariatur porro possimus quis quisquam quos repellat similique? Deserunt enim omnis soluta.
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ResourceDistribution'
  }
</script>

<style scoped>

</style>
