<template>
  <div class="columns is-vcentered info-box">
    <div class="column is-one-third-desktop">
      <div class="box">
        <div class="content" :key="item.name" v-for="item in items">
          <span class="has-text-weight-bold">{{ item.name }}</span>

          <img :src="require(`@/assets/images/icon-${item.name.toLowerCase().replace(/\s+/g, '-')}.png`)"
               class="is-icon" :alt="`Icon of ${item.name}`">

          <ul>
            <li :key="point" v-for="point in item.pointers">{{ point }}</li>
          </ul>
        </div>

        <p class="content has-text-weight-bold">Food for thought: </p>

        <p class="content">
          How do the different geographical features in the region affect the UNCLOS ruling for South China Sea?
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Terminology',
    data () {
      return {
        items: [
          {
            name: 'Island',
            pointers: ['200 Nautical miles (EEZ)']
          },
          {
            name: 'Reef',
            pointers: ['Under water at high tide', 'Attached to sea bed', 'No Nautical miles (EEZ)', 'Could be used for reclamation and turned into an artificial island', 'Reclaimed land does not extend a country\'s EEZ']
          },
          {
            name: 'Rock',
            pointers: ['No fresh water', 'Stays out of water at high tide', '12 Nautical miles (EEZ) around the rock']
          }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .is-icon {
    margin: 0 20px;
    width: 10%;
  }
</style>
