<template>
  <div class="columns is-vcentered info-box">
    <div class="column is-one-quarter">
      <div class="box">
        <p class="content">{{ item.description }}</p>

        <div class="buttons is-centered">
          <button class="button is-dark" @click="goBack" :disabled="overlayIndex <= 0">Back</button>
          <button class="button is-dark" @click="goNext" :disabled="overlayIndex >= overlays.length - 1">Next</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TradeFlow',
    props: { selectedItem: Object },
    data () {
      return {
        overlays: [
          {
            description: '$5.3 trillion in trade transits the South China Sea yearly. In 2017, Vietnam and Indonesia held the highest % of trade amongst the SCS countries, followed by Thailand, Singapore and South Korea.',
            overlay: require(`@/assets/images/trade-flow-1.png`)
          },
          {
            description: 'It is also the most direct sea trade route between Asia and Europe.',
            overlay: require(`@/assets/images/trade-flow-2.png`)
          }
        ],
        overlayIndex: 0
      }
    },
    watch: {
      overlayIndex () {
        this.changeOverlay()

        this.$parent.selectedItem = this.selectedItem
      }
    },
    computed: {
      item () {
        return this.overlays[this.overlayIndex]
      }
    },
    methods: {
      goBack () {
        if (!this.overlayIndex <= 0) this.overlayIndex--
      },
      goNext () {
        if (!this.overlayIndex >= this.overlays.length - 1) this.overlayIndex++
      },
      changeOverlay () {
        this.$emit('changeOverlay', this.item)
      }
    }
  }
</script>

<style scoped>

</style>
