<template>
  <div class="drawer" :style="{ height: showDrawer ? 'auto' : '0' }">
    <div class="box">
      <button class="button is-large is-drawer" @click="toggleDrawer">
        <span><i class="mdi mdi-24px" :class="`mdi-arrow-${type}-drop-circle`"></i></span>
      </button>

      <div class="columns is-multiline has-text-centered">
        <div class="column is-one-fifth" :key="index" v-for="(word, index) in words">
          <p :id="`button-${index + 1}`" class="draggable-item" draggable="true" @dragstart="onDragStart">
            {{ word.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Drawer',
    data () {
      return {
        showDrawer: false,
        words: [
          { text: 'Large deep water drilling' },
          { text: 'Historical claims' },
          { text: 'Lack of regulations' },
          { text: 'Military patrols in the region' },
          { text: 'Geographical terminology' },
          { text: 'Zero-sum game' },
          { text: 'Rich natural resources' },
          { text: 'Nautical mile exclusive economic zones' },
          { text: 'International Tribunal for the Law of the Sea' },
          { text: 'United Nations Convention on the Law of the Sea' },
          { text: 'The Permanent Court of Arbitration' },
          { text: 'Non-enforceable ruling' },
          { text: 'Marine accidents in the area' }
        ]
      }
    },
    computed: {
      type () {
        return this.showDrawer ? 'down' : 'up'
      }
    },
    methods: {
      onDragStart (ev) {
        ev.dataTransfer.setData('text/plain', ev.target.id)
      },
      toggleDrawer () {
        this.showDrawer = !this.showDrawer
      }
    }
  }
</script>

<style lang="scss" scoped>
  .box {
    color: #fff;
    background-color: #666f7d;
    height: 30vh;
    padding-top: 0;

    > .button {
      width: 10%;
      position: relative;
      display: block;
      top: -24%;
      margin: 0 auto;
      background-color: #666f7d;
      border: none;
    }
  }

  .draggable-item {
    cursor: pointer;

    &[draggable=false] {
      cursor: default;
    }
  }
</style>
