<template>
  <div :id="`scroll-${scroll.id}`" class="dropzone" @drop="onDrop" @dragover="onDragOver" ref="scroll"></div>
</template>

<script>
  export default {
    name: 'Dropzone',
    props: { scroll: Object },
    methods: {
      onDrop (ev) {
        ev.preventDefault()

        const data = ev.dataTransfer.getData('text/plain')

        const word = document.getElementById(data)

        const scroll = this.$refs.scroll

        scroll.appendChild(word)
      },
      onDragOver (ev) {
        ev.preventDefault()
      }
    }
  }
</script>
