<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background"></div>

    <div class="modal-content">
      <div class="box">
        <p class="content is-uppercase" :key="index" v-for="(paragraph,index) in paragraphs">
          {{ paragraph.text }}
        </p>

        <div class="buttons is-centered">
          <button class="button is-dark is-medium is-uppercase" @click="closeModal">Start</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'InstructionModal',
    props: { isActive: Boolean },
    data () {
      return {
        paragraphs: [
          { text: 'There are many challenges in mediating international relations as complex as those in the South China Sea.' },
          { text: 'Use the 3 scrolls to reflect on the challenges in the region.' },
          { text: 'You may drag and drop each item into its scroll as you reflect on the challenges in the region. Each item can be used more than once.' }
        ]
      }
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-background {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .box {
    color: #fff;
    background-color: #263a49;
    box-shadow: none;
    padding: 10%;
  }

  .button {
    &.is-dark {
      border: thin solid #555;
      background-color: #000;

      &:hover {
        background-color: #333;
      }
    }
  }
</style>
