<template>
  <section class="hero is-fullheight">
    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <component :is="selectedItem.info" :selectedItem="selectedItem" @changeOverlay="setOverlay"
                 v-if="selectedItem.info"></component>
    </transition>

    <div class="is-elements">
      <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
        <div class="columns is-menu is-fixed-bottom" v-if="showMenu">
          <div class="column no-padding-bottom no-padding-right side-menu">
            <button class="button is-fullwidth is-yellow is-uppercase has-text-weight-bold">Click below to see:</button>

            <div :key="category.name" v-for="category in categories">
              <button class="button is-fullwidth is-item is-dark is-uppercase"
                      :style="{ cursor: category.pointers ? 'default' : 'pointer' }" @click="setOverlay(category)">
                <span class="mdi mdi-circle" :style="{ color: category.theme }"></span>&nbsp;{{ category.name }}
              </button>

              <button class="button is-fullwidth is-sub-item is-dark is-uppercase" :key="list.name"
                      v-for="list in category.pointers" @mouseover="setSelectedList(list)"
                      @mouseleave="unsetSelectedList" @click="setOverlay(list)" v-if="category.pointers">
                {{ list.name }}
              </button>
            </div>
          </div>

          <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <div class="column is-one-third no-padding-left sub-menu" v-if="selectedList.items">
              <button class="button is-fullwidth is-sub-item is-dark is-uppercase" :key="item.name"
                      v-for="item in selectedList.items" @click="setOverlay(item)">
                {{ item.name }}
              </button>
            </div>
          </transition>
        </div>
      </transition>

      <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
        <button class="button is-dark is-medium is-fixed-bottom is-fixed-left is-uppercase toggle-menu"
                @mouseover="resetOverlay" v-if="!showMenu">
          <span><i class="mdi mdi-menu"></i></span>
        </button>
      </transition>

      <button class="button is-dark is-medium is-fixed-bottom is-fixed-right is-uppercase goto-organiser"
              @click="gotoOrganiser">
        <span>Next <i class="mdi mdi-arrow-right-bold-outline"></i></span>
      </button>
    </div>

    <div class="interactive-map">
      <img :src="require(`@/assets/images/map.jpg`)" class="is-map" alt="Image of map"/>

      <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
        <img :src="currentOverlay" class="is-map-overlay" alt="Image of overlay" v-if="currentOverlay"/>
      </transition>

      <img :src="require(`@/assets/images/singapore-label.png`)" class="is-map-overlay" alt="Image of Singapore Label"/>
    </div>
  </section>
</template>

<script>
  import ResourceDistribution from '@/components/Info/ResourceDistribution'
  import MarineLife from '@/components/Info/MarineLife'
  import Terminology from '@/components/Info/Terminology'
  import FoodForThought from '@/components/Info/FoodForThought'
  import TradeFlow from '@/components/Info/TradeFlow'
  import Asean from '@/components/Info/Asean'

  export default {
    name: 'InteractiveMap',
    data () {
      return {
        showMenu: true,
        currentOverlay: null,
        categories: [
          {
            id: 1,
            name: 'Economic Attractiveness of the SCS',
            theme: '#6ed1ce',
            overlay: null,
            pointers: [
              {
                name: 'Natural Resources',
                overlay: null,
                items: [
                  {
                    name: 'Distribution',
                    info: ResourceDistribution,
                    overlay: require(`@/assets/images/natural-resources.png`)
                  },
                  {
                    name: 'Marine Life',
                    info: MarineLife,
                    overlay: ''
                  }
                ]
              }
            ]
          },
          {
            id: 2,
            name: 'Trading and Shipping Routes',
            info: TradeFlow,
            overlay: require(`@/assets/images/trade-flow-1.png`)
          },
          {
            id: 3,
            name: 'United Nations Convention on the Law Of the Sea',
            theme: '#ad4749',
            overlay: null,
            pointers: [
              {
                name: 'EEZ',
                overlay: require('@/assets/images/singapore-with-eez.png')
              },
              {
                name: 'UNCLOS Ruling',
                overlay: require('@/assets/images/singapore-without-eez.png')
              },
              {
                name: 'Differing geographical terminology',
                info: Terminology,
                overlay: ''
              },
              {
                name: 'Food for Thought',
                info: FoodForThought
              }
            ]
          },
          {
            id: 4,
            name: 'ASEAN',
            info: Asean,
            theme: '#fcef79',
            overlay: require(`@/assets/images/ASEAN.png`)
          }
        ],
        selectedItem: {},
        selectedList: {}
      }
    },
    methods: {
      setOverlay (item) {
        if (this.currentOverlay === item.overlay) {
          this.currentOverlay = null
          this.selectedItem = {}
        } else {
          this.showMenu = false
          this.selectedItem = item

          if (!item.pointers) this.currentOverlay = item.overlay
        }
      },
      resetOverlay () {
        this.showMenu = true

        this.currentOverlay = null
        this.selectedItem = {}
      },
      setSelectedList (list) {
        this.selectedList = list
      },
      unsetSelectedList () {
        if (!this.selectedList.items) this.selectedList = {}
      },
      gotoOrganiser () {
        this.$router.push('/organiser')
      }
    }
  }
</script>

<style lang="scss">
  .info-box {
    height: 100vh;

    .box {
      border-radius: 0;
      border: none;
      box-shadow: none;
      background-color: #eee;
    }
  }

  .no-padding-bottom {
    padding-bottom: 0;
  }

  .no-padding-left {
    padding-left: 0
  }

  .no-padding-right {
    padding-right: 0
  }
</style>

<style lang="scss" scoped>
  section {
    background-color: #000;
  }

  .hero-body {
    padding-left: 0;
  }

  .is-elements {
    z-index: 10;
  }

  .is-menu {
    margin-bottom: 0;
    z-index: 10;
  }

  .info-box, .side-menu {
    z-index: 10;
  }

  .is-map, .is-map-overlay {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    object-position: 0 0;
  }

  .is-menu-header, .is-item {
    justify-content: start;
  }

  .is-item, .is-sub-item {
    border-radius: 0;
  }

  .is-sub-item {
    background-color: #999;

    &:hover {
      background-color: #7f7f7f;
    }
  }

  .is-yellow {
    background-color: #f8d550;
    cursor: default;

    &:hover {
      border: none;
    }
  }

  .is-fixed-bottom {
    position: fixed;
    bottom: 0;

    &.is-fixed-left {
      left: 0;
    }

    &.is-fixed-right {
      right: 0;
    }
  }

  .toggle-menu {
    border-radius: 0;

    animation-name: pulse;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes pulse {
    0%, 100% {
      transform: scale(1)
    }

    50% {
      transform: scale(1.1)
    }
  }
</style>
