<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-three-fifths">
            <p class="content is-size-4 quote">
              South China Sea (SCS) is an issue that affects the region.
              Despite Singapore's lack of claim in SCS, it is still an issue that would affect the country.
              Singapore still has a lot of stake in 3 areas: international law, freedom of navigation and unity in ASEAN.
            </p>

            <span class="author">
                &ndash; PM Lee Hsien Loong NDR 2016
              </span>
          </div>

          <div class="column">
            <img :src="require(`@/assets/images/opening-scene.png`)" alt="Image of Opening Scene">
          </div>
        </div>

        <button class="button is-dark is-fixed-bottom is-uppercase goto-interactive-map" @click="gotoInteractiveMap">
          <span>Next <i class="mdi mdi-arrow-right-bold-outline"></i></span>
        </button>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Introduction',
    methods: {
      gotoInteractiveMap () {
        this.$router.push('/interactive-map')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    font-family: "Fira Sans", sans-serif;
    color: #fff;
    background-color: #000;
  }

  .author {
    float: right;
  }
</style>
