<template>
  <section class="section is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-organiser.jpg`)})` }">
    <div class="container">
      <div class="columns">
        <div class="column is-dropzone" :key="scroll.id" v-for="scroll in scrolls">
          <img :src="require(`@/assets/images/scroll-${scroll.id}.png`)" :alt="`Image of Scroll ${scroll.id}`"/>

          <dropzone :scroll="scroll"></dropzone>
        </div>
      </div>

      <div class="buttons is-centered no-print">
        <button class="button is-print is-dark is-medium is-uppercase" @click="print">Print</button>
      </div>
    </div>

    <div class="is-fixed-bottom">
      <drawer class="no-print"></drawer>
    </div>

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <instruction-modal :key="isActive" :isActive="isActive" @closeModal="closeModal"
                         v-if="isActive"></instruction-modal>
    </transition>
  </section>
</template>

<script>
  import InstructionModal from '@/components/InstructionModal'
  import Drawer from '@/components/Drawer'
  import Dropzone from '@/components/Dropzone'

  export default {
    name: 'Organiser',
    components: { InstructionModal, Drawer, Dropzone },
    data () {
      return {
        isActive: true,
        scrolls: [
          { id: 1 }, { id: 2 }, { id: 3 }
        ]
      }
    },
    methods: {
      print () {
        window.print()
      },
      closeModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background: no-repeat center;
    background-size: cover;
    height: 100vh;
  }

  @media print {
    @page {
      size: landscape;
    }

    .no-print {
      display: none;
    }
  }

  .is-dropzone {
    position: relative;
    display: inline-block;

    > .dropzone {
      position: absolute;
      top: 32.5%;
      left: 20%;
      width: 65%;
      height: 55%;
      background-color: transparent;
      overflow: auto;
    }
  }

  .is-fixed-bottom {
    width: 100%;
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>
