<template>
  <div id="app">
    <section v-show="isLandscape">
      <transition enter-active-class="animated fadeIn">
        <router-view/>
      </transition>
    </section>

    <section class="hero is-fullheight" v-show="!isLandscape">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered has-text-centered">
            <div class="column">
              Please rotate your device
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'App',
    computed: {
      ...mapState(['isLandscape'])
    },
    mounted () {
      this.orientationChange()

      window.addEventListener('resize', this.orientationChange)
    },
    methods: {
      orientationChange () {
        this.$store.commit('setLandscape', window.innerWidth > window.innerHeight * 1.25)
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  html, body {
    background-color: #000;
    width: 100%;
    height: 100%;
  }

  button {
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
</style>
